<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Tinos:400,700&display=swap" rel="stylesheet">
</head>
<body>
	<h1>Pokemon</h1>

	<ul class="pokemon">
		<%pokemon.forEach(function(pokemon, index) {%>
		<li><a href="/pokemon/<%=index%>"><%=pokemon.name%></a></li>
	<%});%>
</ul>
</body>
</html>

