<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Tinos:400,700&display=swap" rel="stylesheet">
</head>
<body>
	<h1>Pokemon</h1>
	<div class="form">
	<ul class="pokemon">
		<%pokemon.forEach(function(pokemon, index) {%>
			<div class="action-link p<%=index%>"><li><a href="/pokemon/<%=index%>"><%=pokemon.name%></a></li>
			<form method="POST" action="/pokemon/<%=index%>?_method=DELETE">
				<input id="delete" class="button" type="submit" name="" value="DELETE"/>
			</form></div>
		<%});%>
	</ul>
	</div>
</body>
</html>

