<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Tinos:400,700&display=swap" rel="stylesheet">
</head>
<body>
	<h1>Pokemon Show Page</h1>
	<h2>Name: <%=pokemon.name%></h2>
	<h2>Image link: <%=pokemon.img%></h2>
</ul>
</body>
</html>
