<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Tinos:400,700&display=swap" rel="stylesheet">
</head>
<body>
	<h2><%=pokemon.name%></h2>
	<img class="pic" src="<%=pokemon.img%>">
	<form method="POST" action="/pokemon/<%=index%>?_method=DELETE">
		<input id="delete" type="submit" class="button" name="" value="DELETE"/>
	</form>
</ul>
</body>
</html>
